* {
    padding: 0;
    margin: 0;
}

.cardapio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

body {
    padding: 10px;
    overflow-x: hidden;
    background-image: url("../Imagens/mobileBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    width: 100%;
    text-align: center;
    color: #EEE;
    text-shadow: 2px 2px #000;
}

h2 {
    color: #EEE;
    text-shadow: 2px 2px #000;
}

.card-img-top {
    width: 285px;
    height: 180px;
    z-index: 0;
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: #DDD 2px solid;
}

.wrapcards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 6vh;
}

@media (width >= 800px) {
    .wrapcards {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    body {
        background-image: url("../Imagens/desktopBG.jpg");
    }
}
