body {
    padding: 20px;
    overflow-x: hidden;
    background-color: azure;
 }

 h2 {
    text-align: center;
 }

 .principal{
     width:97% ;
     height:auto;
     padding: 20px;
     text-align: center;
 }
 
 .font-style{
     border-bottom: 2px solid lightgray;
     font-size: 3rem;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding-bottom: 15px;
 }

 .font-style02{
     font-size: 1.8rem;
     color:darkgrey
 }
 
 .div-calculos{
     padding: 10px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: top;
     justify-content: space-evenly;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .operacao {
    background-color:aliceblue;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
 }

 .input {
    display: flex;
    flex-direction: column;
    padding: 5px;
 }


/* CSS */
button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 45px;
  width: 80%;
  letter-spacing: normal;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

button:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

button:hover:after {
  opacity: .5;
}

button:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

button:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}