* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    background-color: midnightblue;
    width: 100%;
    height: 45px;
    line-height: 45px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 999;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: gainsboro;
    font-size: 1.3rem;
}

a:hover {
    text-decoration: underline;
}

.perfil01 {
    padding-top: 45px;
    width: 100%;
    height: 600px;
    background-color: slategray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.perfil02 {
    padding-top: 45px;
    width: 100%;
    height: 600px;
    background-color: dimgray;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.tecno {
    padding-top: 45px;
    padding-bottom: 45px;
    width: 100%;
    min-height: 600px;
    height: fit-content;
    background-color: slategray;
}

.contact {
    padding-top: 45px;
    padding-bottom: 45px;
    width: 100%;
    height: auto;
    background-color: dimgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.leftContact {
    background-color: gray;
    border-radius: 10px;
    width: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
}

.forms {
    background-color: slategray;
    padding: 20px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.perfilTxt {
    font-size: larger;
}

.rightContact {
    background-image: url(https://sleekflow.io/static/images/wts-bg.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.zapHeader {
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 60px;
    background-color: rgb(9, 94, 84);
}

.zapLogo {
    padding-left: 10px;
}

.zapMsg {
    display: flex;
    border-radius: 10px;
    padding: 20px;
    align-items: flex-end;
    justify-content: end;
}

.zapTxt {
    background-color: #dcf7c5;
    padding: 20px;
    border-radius: 10px;
    white-space: pre-line;
}

.zapBottom {
    display: flex;
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.zapSend {
    border-radius: 200px;
    border-width: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #01c650;
    height: 40px;
    width: 50%;
    transition: all 200ms ease;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

.zapSend:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 200ms ease;
    font-weight: bold;
}

.zapSend:active {
    transform: translateY(2px);
    font-weight: normal;
    transition: all 200ms ease;
}

.rel {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rebeccapurple;
    overflow: hidden;
    border-radius: 100%;
}

input {
    border-radius: 10px;
    border-width: 0px;
    height: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-indent: 10px;
    background-color: gainsboro;
    font-size: 1rem;
    width: 100%;
    transition: all 200ms ease;
}

input:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    transition: all 200ms ease;
}

textarea {
    border-radius: 10px;
    border-width: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    background-color: gainsboro;
    font-size: 1rem;
    width: 90%;
    resize: none;
    transition: all 200ms ease;
}

textarea:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    transition: all 200ms ease;
}

.submit {
    border-radius: 10px;
    border-width: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 40px;
    width: 50%;
    transition: all 200ms ease;
}

.submit:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 200ms ease;
    font-weight: bold;
}

.submit:active {
    transform: translateY(2px);
    font-weight: normal;
    transition: all 200ms ease;
}

img {
    position: absolute;
}

.fotoPerfil {
    transition: all 200ms ease;
}

.fotoPerfil:hover {
    transform: scale(1.2);
    transition: all 400ms ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.circulo {
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
}

.linguagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.linguagem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: top;
    align-items: center;
    gap: 200px;
    width: 25%;
    
}

.logo {
    position: relative;
    display: flex;
    align-items: top;
    justify-content: center;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
}

.texto {
    background-color: rgb(129, 139, 150);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 1.2rem;
    overflow: hidden;
}
