* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Protest Strike", sans-serif;
    background-image: url("../Imagens/mobileBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    transition: all 1s ease;
    overflow: hidden;
}

.wrap-everything {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 100%;
    width: 100%;
}