* {
    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}


#selects-div {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.badge {
    font-size: 1.3rem !important;
}

.error-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-width: 300px;
    height: auto;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: maroon 3px solid;
    background-color: rosybrown;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 1.4rem;
    text-align: center;
}

.error-btn {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 999px;
    color: maroon;
    opacity: .7;
    transition: all 200ms ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.error-btn:hover {
    opacity: 1;
    cursor: pointer;
    transition: all 200ms ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}